body {
    font-family: 'Lato', "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

div.container {
    width: 600px;
    height: 460px;
    max-height: 460px;
}

div.container div.container__title {
    /*background-color: #448aff;*/
    border-bottom: 1px solid #d5c8ed;
    height: 52px;
    line-height: 52px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
    color: #333333;
}

div.container div.container__title span {
    font-family: Lato-Heavy;
    font-weight: 700;
}